<mat-card class="card-demo">
    <mat-card-title>Dashboard</mat-card-title>
    <mat-card-content>
        <div class="containerX">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
                <div fxFlex>

                    <mat-card class="fallSelection mat-elevation-z0" style="text-align: center;">
                        <mat-card-header>
                            <mat-card-title>Fall Semester</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>

                            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
                                <div fxFlex>


                                    <ng-container *ngFor="let ind of forIndex; let i = index">
                                        <form class="class-select-form">
                                            <mat-form-field class="class-select-autocomplete">
                                                <input type="text" placeholder="{{'Period ' + (i + 1).toString()}}"
                                                    attr.aria-label="{{'Period ' + (i + 1).toString()}}" matInput
                                                    [formControl]="classControls[i]" [matAutocomplete]="auto">
                                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="courseDisplay"
                                                    (optionSelected)="classSelected($event, i + 1)">
                                                    <mat-option *ngFor="let option of classFilteredOptions[i] | async"
                                                        [value]="option">
                                                        {{option.courseId}}: {{option.courseName}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </form>
                                    </ng-container>

                                </div>

                                <div fxFlex>

                                    <ng-container *ngFor="let ind of forIndex; let i = index">
                                        <form class="class-select-form">
                                            <mat-form-field class="class-select-autocomplete">
                                                <input type="text"
                                                    placeholder="{{'Period ' + (i + 1).toString() + ' Teacher'}}"
                                                    attr.aria-label="{{'Period ' + (i + 1).toString() + ' Teacher'}}"
                                                    matInput [formControl]="teacherControls[i]"
                                                    [matAutocomplete]="auto">
                                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="teacherDisplay"
                                                    (optionSelected)="teacherSelected($event, i + 1)">
                                                    <mat-option *ngFor="let option of teacherFilteredOptions[i] | async"
                                                        [value]="option">
                                                        {{option.firstName}} {{option.lastName}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </form>
                                    </ng-container>

                                </div>
                            </div>

                        </mat-card-content>
                    </mat-card>

                    <mat-card class="springSelection mat-elevation-z0" style="text-align: center;">
                        <mat-card-header>
                            <mat-card-title>Spring Semester</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>

                            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
                                <div fxFlex>

                                    <ng-container *ngFor="let ind of forIndex; let i = index">
                                        <form class="class-select-form">
                                            <mat-form-field class="class-select-autocomplete">
                                                <input type="text" placeholder="{{'Period ' + (i + 1).toString()}}"
                                                    attr.aria-label="{{'Period ' + (i + 1).toString()}}" matInput
                                                    [formControl]="classControls[i + 4]" [matAutocomplete]="auto">
                                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="courseDisplay"
                                                    (optionSelected)="classSelected($event, i + 5)">
                                                    <mat-option *ngFor="let option of classFilteredOptions[i + 4] | async"
                                                        [value]="option">
                                                        {{option.courseId}} {{option.courseName}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </form>
                                    </ng-container>

                                </div>


                                <div fxFlex>

                                    <ng-container *ngFor="let ind of forIndex; let i = index">
                                        <form class="class-select-form">
                                            <mat-form-field class="class-select-autocomplete">
                                                <input type="text"
                                                    placeholder="{{'Period ' + (i + 1).toString() + ' Teacher'}}"
                                                    attr.aria-label="{{'Period ' + (i + 1).toString() + ' Teacher'}}"
                                                    matInput [formControl]="teacherControls[i + 4]"
                                                    [matAutocomplete]="auto">
                                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="teacherDisplay"
                                                    (optionSelected)="teacherSelected($event, i + 5)">
                                                    <mat-option
                                                        *ngFor="let option of teacherFilteredOptions[i + 4] | async"
                                                        [value]="option">
                                                        {{option.firstName}} {{option.lastName}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </form>
                                    </ng-container>

                                </div>
                            </div>

                        </mat-card-content>
                    </mat-card>
                </div>
                <div fxFlex>
                    <mat-form-field>
                        <mat-label>Selected Class</mat-label>
                        <mat-select (selectionChange)='showSelected($event)'>
                            <mat-option *ngFor="let course of userCourses" [value]="course.courseId">
                                {{course.courseName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-table [dataSource]="tableData" class="mat-elevation-z8">
                        <!-- Name Column -->
                        <ng-container matColumnDef="firstName">
                            <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="lastName">
                            <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer style="width:95%">
    </mat-card-footer>
</mat-card>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->