  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .class-select-autocomplete{
    width:100%;
  }


  .springSelection {
    justify-content: center;
    align-items: center;

    border: none;

  }

  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  
.card-demo mat-card,
.card-demo mat-card-content {
  margin-bottom: 24px;
}

.card-demo mat-card-footer {
  left: 24px;
  margin-bottom: 24px;
}

.containerX {
  border: none;
  box-sizing: content-box !important;
}
