<mat-card class="card-demo">
    <mat-card-title>Class Match</mat-card-title>
    <mat-card-subtitle>Find out who you share classes with</mat-card-subtitle>

    <mat-card-content>
        <div class="containerX">
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
                <div fxFlex>

                    <mat-card class="fallSelection mat-elevation-z0" style="text-align: center;">
                        <mat-card-header>
                            <mat-card-title>Fall Semester</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                                <form class="example-form">
                                        <mat-form-field class="class-select-autocomplete">
                                            <input type="text" placeholder="Period 1" aria-label="Period 1" matInput
                                                [formControl]="myControl" [matAutocomplete]="auto" >
                                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getPosts($event)">
                                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                    {{option.courseName}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </form>

                            <form class="example-form">
                                <mat-form-field class="class-select-autocomplete">
                                    <input type="text" placeholder="Period 2" aria-label="Period 2" matInput
                                        [formControl]="myControl" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getPosts($event)">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option.courseName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>

                            <form class="example-form">
                                <mat-form-field class="class-select-autocomplete">
                                    <input type="text" placeholder="Period 3" aria-label="Period 3" matInput
                                        [formControl]="myControl" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getPosts($event)">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option.courseName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>

                            <form class="example-form">
                                <mat-form-field class="class-select-autocomplete">
                                    <input type="text" placeholder="Period 4" aria-label="Period " matInput
                                        [formControl]="myControl" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getPosts($event)">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option.courseName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="springSelection mat-elevation-z0" style="text-align: center; ">
                        <mat-card-header>
                            <mat-card-title>Spring Semester</mat-card-title>
                        </mat-card-header>

                        <mat-card-content>
                            <form class="example-form">
                                <mat-form-field class="class-select-autocomplete">
                                    <input type="text" placeholder="Period 1" aria-label="Period 1" matInput
                                        [formControl]="myControl" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getPosts($event)">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option.courseName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>

                            <form class="example-form">
                                <mat-form-field class="class-select-autocomplete">
                                    <input type="text" placeholder="Period 2" aria-label="Period 2" matInput
                                        [formControl]="myControl" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getPosts($event)">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option.courseName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>

                            <form class="example-form">
                                <mat-form-field class="class-select-autocomplete">
                                    <input type="text" placeholder="Period 3" aria-label="Period 3" matInput
                                        [formControl]="myControl" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getPosts($event)">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option.courseName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>

                            <form class="example-form">
                                <mat-form-field class="class-select-autocomplete">
                                    <input type="text" placeholder="Period 4" aria-label="Period " matInput
                                        [formControl]="myControl" [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="getPosts($event)">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option.courseName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div fxFlex> I'm below on mobile, and to the right on larger devices.</div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer style="width:95%">
    </mat-card-footer>
</mat-card>

  
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->